<!--<h1>Public::Homes#about</h1>-->

<div class = "container">
  <div class = "row">

    <div class = "col text-center">
      <h1 class = "display-1">About</h1>
      <p>長野CAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。</p>

        <div class = "card">
          <%= image_tag 'mugi.jpg', class: "img-fluid" %>
        </div>

    </div>

  </div>
</div>
